.cardOrder {
    width: 250px;
    height: 120px;
    padding: 10px 15px;
    background: #FFE8FA;
    border-radius: 16px;
    line-height: 16px;
}

.index {
    font-size: medium;
    font-weight: bold;
}