.btnSelect {
    width: 90px;
    height: 50px;
    background: #FFE8FA;
    border-radius: 8px;
    border: none;
    text-align: center;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.onSelected {
    background-color: #f794dd;
}