.card {
    width: 175px;
    height: 200px;
    cursor: pointer;
    /*border: 1px solid #FFFFFF;*/
    border-radius: 12px;
}

.card:hover {
    /*border: 1px solid rgba(235, 104, 205, .1);*/
    box-shadow: 0 4px 120px rgba(235, 104, 205, .5);
}


.card:hover {
    background: rgba(235, 104, 205, .19);
}

.cardImage {
    position: relative;
    width: 100%;
    height: 160px;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
}
.cardAmount {
    position: absolute;
    left: 5px;
    bottom: 3px;
}
.cardText {
    line-height: 14px;
    padding: 7px;
    width: 175px;
    height: 40px;
    overflow: hidden;
}