.sectionHome {
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("/Landing.svg");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.desplaceMarginTop {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 140px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background: bisque;*/
}

.bodyHome {
    width: 350px;
    max-width: 100%;
}