body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
}

.container-body {
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container-form {
  width: 750px;
  padding: 0 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .container-body {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.header-responsive {
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-body {
    padding-right: 50px;
    padding-left: 50px;
  }


  .header-responsive {
    margin-left: 55px;
    margin-top: 10px;
  }

  .header-responsive .header-img-responsive {
    width: 60px !important;
    height: 60px !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-body {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-responsive {
    display: none;
  }
}

.ant-layout {
  background-color: #ffffff !important;
}

.btn-green {
  background-color: #8AB31E !important;
  color: white !important;
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.modal-no-header, .ant-modal-content {
  border-radius: 16px !important;
}

.modal-no-header .ant-modal-content .ant-modal-header {
  display: none !important;
}

.modal-no-header .ant-modal-content .ant-modal-close {
  width: 35px !important;
}

.modal-no-header .ant-modal-content .ant-modal-body {
  height: 600px !important;
  max-height: 75vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 16px !important;
  scrollbar-width: none !important;
}

.misc.modal-no-header .ant-modal-content .ant-modal-body {
  height: 460px !important;
}

.modal-no-header .ant-modal-content .ant-modal-body::-webkit-scrollbar {
  display: none;
}

.text-white {
  color: white !important;
}

.text-bold {
  font-weight: bold !important;
}

.ant-notification {
  top: 115px !important;
}

.form-resuelve-padding .ant-row.ant-form-item {
  margin-bottom: 10px !important;
}

.form-resuelve-padding .ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error {
  margin-bottom: 0 !important;
}

.form-resuelve-padding .ant-row.ant-form-item .ant-form-item-label.ant-form-item-label-left {
  padding: 0 !important;
  margin-top: -7px;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: none !important;
}

.ant-menu.ant-menu-root.ant-menu-vertical .ant-menu-item {
  border-radius: 20px !important;
}

.ant-menu.ant-menu-vertical .ant-menu-item.ant-menu-item-selected {
  color: white !important;
}

.ant-badge-status-dot {
  width: 12px !important;
  height: 12px !important;
}

.extra-badge .ant-badge-status-dot {
  width: 20px !important;
  height: 20px !important;
}

.ant-space-item {
  margin-bottom: 4px !important;
}