.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    background: white;
}

.footerActions {
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerDetails {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 901;
    background: rgb(138, 179, 30);
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(138, 179, 30, .7);
}

.footerDetails {
    width: calc(70% - 190px);
    padding-left: 5px!important;
    padding-right: 5px!important;
}

@media screen and (max-width: 1022px) {
    .footerDetails {
        display: none;
    }

    .headerDetails {
        display: block;
    }
}

.footerReset {
    width: 150px;
    margin-left: 20px;
    border-color: orangered;
    color: orangered;
}

.footerReset:hover {
    background: orangered !important;
    color: white !important;
}

.footerReset:focus {
    border-color: orangered !important;
    color: orangered;
    background: transparent;
}

.footerNext {
    margin-left: 20px;
    width: 30%;
}

.bottomLine {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(31, 39, 45, .2);
}
.leftLine {
    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, .5);
}

.cardShopping {
    display: flex;
    justify-content: flex-start;
    align-items: center
}