.close {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: rgba(255, 232, 250, 0.75);
    border-radius: 100%;
}

.itemCarousel {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.body {
    padding: 0 15px 15px 15px;
}